@page "/categories"

@using Microsoft.EntityFrameworkCore;
@using NorthwindBlazorServer.Models;

@inject IDbContextFactory<NorthwindContext> DbFactory

<h3>Categories</h3>

@foreach (var category in categories)
{
    <img src="@(ByteArrayToImageUrl(category.Picture!))" alt="@category.CategoryName" />
    <p> @category.CategoryName</p>
}

@code {
    private List<Category> categories = new();

    private async Task<List<Category>> GetAllCategories()
    {
        using var context = DbFactory.CreateDbContext();
        return await context.Categories.AsNoTracking().ToListAsync();
    }

    private string ByteArrayToImageUrl(byte[] array)
    {
        var imageBytes = array.ToArray().Skip(78).ToArray();
        string imageBase64 = Convert.ToBase64String(imageBytes);
        return string.Format("data:image/gif;base64,{0}", imageBase64);
    }

    protected override async Task OnInitializedAsync()
    {
        categories = await GetAllCategories();
    }
}
